body {
    font-family: 'Courier New', Courier, monospace;
}


/* .jumbotron {
    padding: 0;
} */

h1 {
    max-width: 450px;
    margin: 0 auto;
    font-weight: bolder;
}

h3, h4{
    font-weight: bolder;
}

#search-city, #clear-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-button {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-top: 10px;
    height: 38px;
}

.container {
    margin: 0;
    padding: 0;
}

.col-sm-3 {
    padding-left: 15px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 20px;

}


.col-sm-2{
border: 1px solid;
background-color: rgb(212, 140, 212);
    border-radius: 2px;
    margin-top: 5px;
    padding-right: 125px;
    margin-left: 5px;

}

.col-sm-8 {
    padding-left: 10px;
    border: 3px solid;
    border-color: blueviolet;
    border-radius: 5px;
    margin-left: 10px;
}